*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #1abc9c; /* green background */
    color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
}

a:link {
  color: black;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: black;
  background-color: #DDD;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  background-color: #DDD;
  text-decoration: underline;
}

/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center;  /*Center the text */
    padding: 10px; /* Add some padding */
    text-decoration: none; /* Remove underline */
	width: 7%;
	margin-left: 20%;
}

@media (max-width: 550px) {
    .navbar a {
        margin-left: 8%;
        width: 20%;
    }
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}

.cv{
    text-align: right;
    text-decoration: none; /* Remove underline */
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-right: 70px;

}

.blurb {
	/*text-align: center;*/
	background-color: AAAAAA;
	padding-top: 20px;
	padding-right: 20%;
	padding-left: 20%;
	padding-bottom: 200px;
}

@media (max-width: 550px) {
	.blurb{
		padding-right: 10%;
    	padding-left: 10%;
	}
}

.blurb .disclaimer {
	padding-top: 30px;
	padding-bottom: 20px;
}

.blurb h2{
	padding-top: 30px;
	text-align: center;
}

.heading{
	padding-top: 50px;
	padding-bottom: -10px;
	text-align: center;
}

.blurb br{
	padding-bottom: 10px;
}